.Books{
    background: #9ad9ea;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 2rem;
    height: 80%;
    width: 80%;
}

.BooksList{
    text-align: left;
    padding: 20px;
    list-style-type: none;
    height:80%;
    width: 96%;
}

.BooksListElement{
    background-color: #35a2e5;
    text-align: left;
    font-size: xx-large;
    border-radius: 1.7rem;
    margin: 2%;
}